# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

**/.git
**/README.md
**/LICENSE
**/.vscode
**/coverage
# **/.env
**/.editorconfig
**/.aws
**/dist

__pycache__/

